/* Import Nunito Sans */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");

/* Global font */
html,
body,
p {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", system-ui, sans-serif !important;
}

.navbar-logo {
  max-height: 70px;   /* adjust as needed */
  height: auto;
}